@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  width: 100%;
  border: none;
  vertical-align: bottom;
}

button {
  background: none;
  border: none;
  appearance: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}

body {
  color: #ffffff;
}

.header {
  background: #333333;
  display: flex;
  align-items: center;
  height: 80px;
  padding: 10px 20px;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
}

.hamburger {
  position: relative;
  margin-left: auto;
  width: 45px;
  height: 35px;
  z-index: 1;
}

.hamburger span {
  position: absolute;
  left: 0;
  background: #ffffff;
  width: inherit;
  height: 5px;
}

.top-line {
  top: 0px;
}

.center-line {
  top: 15px;
}

.bottom-line {
  bottom: 0px;
}


.loading {
    width: 100%;
    height: 100vh;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.loading-icon {
  width: 5em;
  height: 5em;
  border-top: 1em solid rgba(255, 255, 255, 0.4);
  border-right: 1em solid rgba(255, 255, 255, 0.4);
  border-bottom: 1em solid rgba(255, 255, 255, 0.4);
  border-left: 1em solid rgba(255, 255, 255, 1);
  animation: loaderAnime 1s infinite linear;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 6;
}

@keyframes loaderAnime {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-hide {
  animation: loadingAnime 2s forwards;
}

@keyframes loadingAnime {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
